.activity {
	color: $color-grey;
	
	.since {
		display: block;
		font-size: 9px; color: $color-grey-slate;
	}
	
	.credit {
		opacity: .6;
	}
	
	.records {
		@include fade-lis();
		
		li {
			.label {
				line-height: 1.7;
			}
		}
	}
}