.months-pager {
	display: block; width: 100%; margin-bottom: $jump*1.5;
	text-align: center; font-size: 30px;
	
	span {
		vertical-align: middle;
		cursor: pointer;
		color: $color-grey;
	}
	
	.months-next, .months-prev {
		color: $color-grey;
		
		&.disabled {
			color: $color-grey-slate;
		}
	}
	
	.months-pagers {
		display: inline-block;
		
		span {
			&.cycle-pager-active {
				color: $color-pearl;
			}
		}
	}
	
	
}

/* slider */
.months {
	
	/* single month */
	.month-records {
		width: 100%;
		
		/* hide while loading */
		&:not(:first-child) {
			display: none;
		}
		
		.data-label, .sums {
			@include container();
			padding-bottom: 15px;
			line-height: 1.2;
			
			.month-sum {
				padding-top: 8px;
			}
			
			.data-range {
				clear: both;
				font-size: 10px; color: rgba($color-beige, .85);
			}
			
			&.fixed {
				z-index: 5;
				padding-top: 15px;
				font-size: 12px;
				background: $color-blue-dark; border: none; box-shadow: 0 1px 4px rgba(0,0,0,.4);
				
				.label {
					font-size: 19px;
				}
				
				.month-sum {
					opacity: 0;
				}
			}
		}
		
		.sums {
			
			@extend .data-label;
			
			li {
				list-style-type: none;
				
				+ li {
					margin-top: $jump;
				}
			}
		}
		
		.records {
			> li {
				@include container();
			}
		}
		
		li {
			transition: all .4s ease;
			
			.record-toggle {
				@include clearfix();
				cursor: pointer;
			}
			
			&.open {
				position: relative;
				padding-top: $jump;
				background: $color-blue-dark;
				border-radius: 4px;
				
				.record-toggle {
					> .label {
						color: $color-beige; /* text-transform: uppercase; */
					}
				}
				
				.history {
					display: block;
					animation: fadeIn .4s ease;
				}
			}
			
		}
	}
	
	.history {
		display: none;
		padding-top: $jump;
		
		li {
			margin-bottom: 0; padding-bottom: 8px;
			
			.label {
				font-size: 9px; color: $color-grey-slate;
			}
			
			.credit {
				opacity: .6;
			}
		}
	}
}