.records {
	
	li {
		@include clearfix();
		margin: 0 0 $jump;
		list-style-type: none;
		
		.label {
			float: left;
			font-size: 11px; color: $color-grey;
		}
		
		.credit {
		}
		
		.legend {
			
		}
		
		.history {
			clear: both;
		}
	}
	
}