@font-face {
  font-family: 'PixelTextPS2P';
  src: url('../inc/font/PressStart2P.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PixelNumbersPGF';
  src: url('../inc/font/PixelGameFont.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}