@keyframes zoom {
	0% {
		transform: scale(.5);
	}
	  
	70% {
		transform: scale(1.4);
	}
	
	100% {
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	  
	100% {
		opacity: 1;
	}
}

@keyframes zoomAway {
	0% { transform: scale(1); }
	100% { transform: scale(0); }
}
.animate-zoomAway {
	animation: zoomAway .3s ease; animation-fill-mode: forwards;
}

@keyframes zoomTowards {
	0% { transform: scale(0); }
	70% { transform: scale(2.5); }
	100% { transform: scale(1); }
}
.animate-zoomTowards {
	animation: zoomTowards .5s ease; animation-fill-mode: forwards;
}

@keyframes spinBounce {
    0% { transform: rotate(0deg); box-shadow: 0 0 5px rgba(black, .3); }
    25% { transform: rotate(90deg) scale(1.3); box-shadow: 0 0 15px rgba(black, .3); }
    50% { transform: rotate(180deg) scale(1); box-shadow: 0 0 5px rgba(black, .3); }
    75% { transform: rotate(270deg) scale(1.3); box-shadow: 0 0 15px rgba(black, .3); }
    100% { transform: rotate(360deg); box-shadow: 0 0 5px rgba(black, .3); }
}

@keyframes spinFade {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes characterIdle {
   100% { background-position-x: -152px; }
}

@keyframes slideFromLeft {
    0% { transform: translateX(-40%); }
    100% { transform: translateX(0%); }
}

@keyframes slideFromLeftToCentre {
    0% { transform: translate(-100%, -50%); }
    50% { transform: translate(-100%, -50%); opacity: 0; }
    100% { transform: translate(-50%, -50%); opacity: 1; }
}

@keyframes slideSideways {
    0% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(50%); opacity: .25; }
}

@keyframes fadeOutAndAway {
    0% { opacity: 1; }
    100% { opacity: 0; z-index: -10; }
}

@keyframes fadeInFromLeft {
	0% { left: -100%; }
	100% { left: 0; opacity: 1; }
}

/*
	.animation-explosion
		.particles
*/
$explosion-elements: 40;

@for $i from 1 through $explosion-elements {
	@keyframes particle-#{$i} {
	    0% {
	      top: 42%; /* hides behind character better */
	      left: 50%;
	      opacity: 1;
	      transform: scale(2.5) rotate(0deg);
	    }
	    
	    50% {
		    opacity: 1;
	    }
	    
	    100%{
	      /* top: random(500)+px;
	      left: random(500)+px; */
	      top: percentage(random(100) / 100);
	      left: percentage(random(100) / 100);
	      opacity: 0;
	      transform: scale(1) rotate($i*150deg);
	    }
	}
}