@import 'mixins';

body {
	width: 100%; max-width: $maxwidth; margin: 0 auto;
	background: $color-blue-midnight;
	font: 11px/1.5 $font-pressstart2p; letter-spacing: -.035em; color: $color-beige; -webkit-font-smoothing: antialiased;
	overflow-x: hidden; overflow-y: auto;
	
	&:not(.view-home) .body {
		padding: 36px 0 0;
		background: url('../images/background-crop.gif') no-repeat; background-size: 100% auto;
	}
}

.container {
	@include container();
}

.left {
	float: left;
}

.right {
	float: right;
}

.hidden {
	display: none;
}

.fixed {
	position: fixed; top: 0; left: 0;
	width: 100%;
}

.section {
	margin-bottom: $jump*3;
}

.credit {
	display: inline-block; padding-right: 12px;
	font-family: 'PixelGameFont', $font-pressstart2p; color: $color-green; line-height: 1.3;
	background: url('../images/coin-small.svg') top right no-repeat; background-size: 9px auto;
	
	&.credit-large {
		padding-right: 25px;
		font-size: 42px; line-height: 1.1;
		background-image: url('../images/coin-large.svg'); background-size: 21px auto;
	}
	
	&.credit-reward {
		padding-right: 14px;
		color: #728FF5;
		
		&.credit-small {
			background-image: url('../images/coin-reward-small.svg'); background-size: 11px auto;
			
		}
	}
	
	&.minus {
		color: $color-rosy;
	}
	
	&.neutral {
		color: $color-yellow;
	}
}
.credit-slash {
	opacity: .5;
	display: inline-block; padding: 0 3px;
	font-family: $font-pixelgamefont;
}

.icon {
	&.icon-menu {
		background: url('../images/icons/menu.svg') center no-repeat; background-size: 100% auto;
	}
	
}

.fit {
	display: block; width: 100%;
}

.loading {
	> * {
		opacity: .3;
		transform: scale(.95);
	}
	
	.loading-art {
		display: block;
		opacity: 1;
	}
}

.loading-art {
	display: none;
	position: absolute; top: 0; left: 0; z-index: 1;
	width: 100%; height: 100%;
	transition: opacity .2s ease;
	
	img {
		position: absolute; top: 50%; left: 50%;
		width: 42px; height: 66px; margin-left: -21px; margin-top: -33px;
		transform: translate(-50%, -50%); transform-origin: center;
		animation-name: spinBounce; animation-duration: 1000ms; animation-iteration-count: infinite; animation-timing-function: linear;
	}
}

.page-loading {
	position: fixed; top: 0; left: 0; z-index: 3000;
	width: 100%; height: 100%;
	background: $color-blue-midnight; background: radial-gradient(ellipse at center, #051F34 0%, $color-blue-midnight 100%);
	
	.loading-art {
		transform: none;
		
		.coin {
			position: absolute; top: 50%; left: 50%;
			width: 62px; height: #{ 62 * 1.5 }px;
			transform: translate(-50%, -50%) rotate(0deg); transform-origin: center center;
			
			svg {
				position: absolute; top: 0; left: 0; width: 100%; height: 100%;
			}
			
			&:not(.coin1) {
				animation-name: spinFade; animation-duration: 3s; animation-iteration-count: infinite; animation-timing-function: linear;
			}
			
			&.coin1 { z-index: 1; transform: translate(-50%, -50%) scale(1) }
			&.coin2 { opacity: .4; filter: blur(12px); }
			&.coin3 { opacity: .35; animation-delay: -.5s; filter: blur(22px); }
			&.coin4 { opacity: .3; animation-delay: -1s; filter: blur(32px); }
			&.coin5 { opacity: .25; animation-delay: -1.5s; filter: blur(42px); }
		}
		
	}
	
	.images-ready & {
		animation-name: fadeOutAndAway; animation-duration: .8s; animation-iteration-count: 1; animation-timing-function: ease; animation-fill-mode: forwards;
	}
}

.data-label {
	@include clearfix();
	margin: 0 0 12px;
	border-bottom: 2px dashed #182E48;
	
	.label {
		float: left;
		/* font-family: $font-pixelgamefont; */ font-size: 17px; text-transform: uppercase; color: $color-pearl;
	}
	
	.right {
		padding-top: 12px;
	}
	
	.credit {
	}
}

.sound {
	display: none;
}

hr {
	@include clearfix();
	width: 100%; height: 1px; margin: $jump 0; 
	background: none; border: none; border-bottom: 2px dashed #182E48;
}