@import 'mixins';

select, input, textarea {
	border: none;
	font: inherit; color: inherit; letter-spacing: normal;
	-webkit-appearance: none;
}

button, input[type="submit"], label {
	cursor: pointer;
}

.submit {
	display: block; width: 100%; padding-top: 5px;
	background: $color-yellow; border: none;
	font-family: $font-pressstart2p; font-size: 12px; color: #072E53; line-height: 30px; text-transform: uppercase; text-shadow: -1px 1px 0px #FFF5C6;		
	box-shadow: inset 2px 2px 0px 0px #FCF7C8; border-radius: 4px; 
	cursor: pointer;
	
	&:hover, &:focus {
		color: #111518;
	}
	
	&.submit-add {
		color: $color-blue-light;
		background: #072A47;
		box-shadow: inset 2px 2px 0 0 #255E89;
		text-shadow: none;
	}
	
	&.submit-delete {
		color: black; text-shadow: -1px 1px 0px rgba($color-yellow, .2);
		background: $color-rosy;
		box-shadow: inset 2px 2px 0 0 rgba($color-yellow, .2);
	}
	
	&.submit-earn {
		background: $color-green;
		box-shadow: inset 2px 2px 0px 0px #D2FFE0;
	}
}

select, input:not([type="submit"]), textarea {
	background: $color-blue-dark; 
	box-shadow: 0px 2px 0px 0px rgba(24,45,72,0.19), inset 2px 2px 0px 0px black;
	outline: none;
	font-family: $font-pixelgamefont;
	
	&.error {
		border: 2px solid $color-red; background-color: $color-red-dark;
	}
}

select, input[type="text"], input[type="search"], textarea {
	width: 100%; padding: 18px 26px;
	font-size: 12px; font-family: $font-pressstart2p;
}

select, input[type="text"], input[type="search"] {
	height: 48px; padding-top: 0; padding-bottom: 0;
	line-height: 48px;
}

input:not([type="submit"]) {
	&:hover, &:focus {
		color: $color-beige;
	}
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
}

.inset {
	width: 100%; padding: 8px;
	background: $color-blue-dark;
	box-shadow: 0px 2px 0px 0px rgba(24,45,72,0.19), inset 2px 2px 0px 0px black; border-radius: 4px; 
}

.label-radio {
	input[type="radio"] {
		display: none;
	}
	
	input[type="radio"] + label {
		float: left; width: 32px; height: 32px;
		@include no-text();
		cursor: pointer;
		
		opacity: .5;
		
		&.plus {
			background: url('../images/radio-plus.svg'); background-size: 32px auto;
		}
		
		&.minus {
			background: url('../images/radio-minus.svg'); background-size: 32px auto;
		}
	}
	
	input[type="radio"]:checked + label {
		opacity: 1;
	}
	
	label:last-of-type {
		margin-left: 8px;
	}
}



.form-send {
	position: relative;
	margin-bottom: 40px;
	
	> * {
		transition: all .5s ease;
	}
	
	@include jump-children();
	
	input:not([type="submit"]) {
		width: 100%;
		padding-left: 20px; padding-right: 20px;
		color: $color-grey-slate-light;
		border-radius: 4px; 
	}
	
	input[type="number"] {
		padding-top: 6px;
		font-size: 32px; line-height: 58px; color: $color-beige;
	}
	
	input[type="text"] {
		
	}
}

.form-budget {
	position: relative;
	margin-bottom: 40px;
	
	> * {
		transition: all .5s ease;
	}
	
	> * + * {
		margin-top: $jump*2;
	}
	
	input:not([type="submit"]) {
		width: 100%;
		padding-left: 20px; padding-right: 20px;
		color: $color-grey-slate-light;
		border-radius: 4px; 
	}
	
	input[type="number"] {
		padding-top: 6px;
		font-size: 32px; line-height: 58px; color: $color-beige;
	}
	
	label {
		display: block;	/* padding-left: 20px; padding-right: 20px; */ padding-bottom: 10px;
		color: lighten($color-beige, 20%);
	}
	
}

.form-reward {
	.submit {
		float: right; width: 30px; padding: 0;
		font-size: 10px; color: $color-blue-dark; line-height: 30px;
		background: #7E64F8;
		box-shadow: inset 2px 2px 0px 0px $color-blue; text-shadow: -1px 1px 0px $color-blue; border-radius: 4px;
	}
}

.form-add-reward {
	textarea {
		width: 100%; height: 80px;
	}
	
	label {
		display: block; margin: 0 0 5px;
		font-size: 12px;
	}
	
	fieldset {
		margin-bottom: 10px;
	}
}

.form-new-monthly, .form-pay-monthlies {
	> * {
		transition: all .5s ease;
	}
	
	@include jump-children();
	
	input:not([type="submit"]) {
		width: 100%;
		padding-left: 20px; padding-right: 20px;
		color: $color-grey-slate-light;
		border-radius: 4px;
	}
	
	input[type="number"] {
		padding-top: 6px;
		font-size: 22px; color: $color-beige;
	}
}

.form-account {
	@include jump-children();
	
	> * + * {
		margin-top: $jump;
	}
	
	label {
		display: block; margin-bottom: 5px;
		color: $color-pearl;
	}
}