@import 'mixins';

.grid1, .grid2, .grid3 {
	@include clearfix();
}

.grid1 {
	> .col {
		&.col1 {
			float: left; width: 88px;
		}
		
		&.col2 {
			float: right; width: calc(100% - 88px - 9px);
		}
	}
}

.grid2 {
	> .col {
		&.col1 {
			float: left; width: calc(100% - 88px - 9px); 
		}
		
		&.col2 {
			float: right; width: 88px;
		}
	}
}

.grid3 {
	.col {
		float: left; 
		
		&:first-child {
			width: 49%; margin-right: 2%;
		}
		
		&:last-child {
			width: 49%;
		}
	}
}

.grid4 {
	.col {
		&:first-child {
			float: left; width: 85%;
		}
		
		&:last-child {
			float: right; width: 7%;
		}
	}
}