.header-user {
	@include clearfix();
	padding: 15px 0;
	background: $color-blue-dark;
	/* box-shadow: inset 0px -3px 0px 0px #000B18; */
	
	.view-home & {
		margin: 0 0 10px;
	}
	
	.menu {
		float: left;
		
		.name {
			position: relative;
			color: $color-yellow;
			cursor: pointer;
			
			$iconsize: 15px;
			.icon {
				display: inline-block; width: $iconsize; height: $iconsize; margin-right: 6px;
			}
			
			/*
			&:before {
				display: inline-block; margin-right: 6px;
				font-family: serif; font-size: 30px; line-height: 11px;
				content: "\2261";
			}
			*/
		}
		
		li {
			list-style-type: none;
		}
		
		.popup-menu {
			/* @include hide-left(); */
			padding: 30px;
			background: $color-blue-dark;
			text-align: center;
			transition: opacity .5s ease, left .2s ease;
			
			li {
				font-size: 26px; text-transform: uppercase;
				
				&.data-label {
					padding-bottom: 6px;
					font-size: 22px;
				}
				
				&:not(.data-label) {
					position: relative;
					transform: translateX(-100%);
				}
				
				+ li {
					margin-top: 23px;
				}
				
				&.active {
					
					a {
						color: $color-pearl; text-shadow: 0 0 16px $color-blue-light; white-space: nowrap;
						
						/*
						&:before {
							content: ">";
						}
						*/
						
					}
				}
			}
			
			a {
				display: block;
				color: $color-yellow;
				
				&:hover, &:focus {
					white-space: nowrap;
					
					&:after {
						position: absolute;
						letter-spacing: -.5em; color: $color-pearl; text-shadow: 0 0 16px $color-blue-light;
						content: ">>";
						animation-name: slideSideways; animation-duration: .35s; animation-iteration-count: infinite; animation-timing-function: linear;
					}
				}
			}
			
			&.popup-open {
				li:not(.data-label) {
					animation-name: slideFromLeft; animation-duration: .2s; animation-iteration-count: 1; animation-timing-function: ease; animation-fill-mode: forwards;
					
					&:nth-child(2) {
						animation-delay: .05s;
					}
					
					&:nth-child(3) {
						animation-delay: .1s;
					}
					
					&:nth-child(4) {
						animation-delay: .15s;
					}
					
					&:nth-child(5) {
						animation-delay: .2s;
					}
					
					&:nth-child(6) {
						animation-delay: .25s;
					}
					
					&:nth-child(7) {
						animation-delay: .3s;
					}
					
					&:nth-child(8) {
						animation-delay: .35s;
					}
					
					&:nth-child(9) {
						animation-delay: .4s;
					}
				}
			}
		}
	}
	
	.credit {
		font-size: 15px; line-height: 1;
	}
	
	& + .section {
		margin-top: 36px;
	}
}