.view-home {
	.header-user {
		margin-bottom: 0;
	}
}

.artwork-credit {
	position: relative;
	width: 100%; height: 0; margin: 0 auto $jump; padding-bottom: 100%;
	text-shadow: 0 2px 2px #010512;
	/* @include no-interpolation(); */
	
	.foreground, .background {
		position: absolute; top: 0; left: 0;
		width: 100%; height: 100%;
		opacity: 0; transition: opacity 1s ease;
	}
	
	.foreground {
		z-index: 5;
		@include no-interpolation();
	}
	
	.background {
	}
	
	.character {
		position: absolute; top: 40%; left: 50%; z-index: 3;
		width: 38px; height: 52px;
		background: url('../images/game/character/idle.min.png') top left; background-size: cover;
		transform: translateX(-50%) scale(2.9);
		animation: characterIdle 1.8s steps(4) infinite;
		
		@include no-interpolation();
	}
	
	.total-until {
		position: absolute; bottom: 10px; left: 0; z-index: 10; 
		width: 100%;
		text-align: center;
		
		.credit, .days-until {
			display: block; text-align: center;
		}
		
		.credit {
			display: inline-block;
			color: $color-yellow;
			transform-origin: center center;
		}
		
		.days-until {
		}
	}
	
	.animation-explosion {
		position: absolute; z-index: 1;
		width: 100%; height: 100%;
		overflow: hidden;
		
		.particle {
			opacity: 0;
		}
	}
	
	.images-ready & .foreground, .images-ready & .background {
		opacity: 1;
	}
	
}




.images-ready.status-counted:not(.animation-pause) .artwork-credit {
	
	.credit {
		animation-name: zoom; animation-duration: .85s; animation-iteration-count: 1; animation-timing-function: ease;
	}
	
	.animation-explosion {
		
		.particle {
			position: absolute;
			width: 15px; height: 25px;
			background: url('../images/coin-small.svg') no-repeat; background-size: 100% auto;
			
			$explosion-elements: 40;
			@for $i from 1 through $explosion-elements {
				&:nth-child(#{$i}){
		        	/* left: $i * 10px; */
		        	animation-duration: 1.4s;
		        	animation-name: particle-#{$i};
		        	animation-iteration-count: 1;
		        	animation-direction: forwards;
		        	animation-timing-function: ease;
		    	}
		    }
		}
	}
}