@mixin no-text { text-indent: 200%; white-space: nowrap; overflow: hidden; text-transform: capitalize; }
@mixin clearfix { &:after { content: ""; display: table; clear: both; } }

@mixin hide-left { position: fixed; top: 0; left: -100%; /* z-index: -100; */ z-index: 1000; opacity: 0; }
@mixin reveal-left { left: 0; z-index: 1000; opacity: 1; }

@mixin container { padding-left: $gutter; padding-right: $gutter; }



$font-pressstart2p: 'PixelTextPS2P', PressStart2P, 'Courier New', Tahoma, sans-serif;
$font-pixelgamefont: 'PixelNumbersPGF', 'Pixel Start 2P', PixelStart2P, 'Courier New', Tahoma, sans-serif;


// Colors
$color-yellow: #F8DD64;
$color-green: #5FF5A0;

$color-blue-light: #AAD5FF;
$color-blue: #64B1F8;
$color-blue-dark: #010512;
$color-blue-midnight: #001323;


$color-pearl: #fcfcfa;
$color-beige: #D7D0B9;

$color-grey: #999EA3;
$color-grey-slate: #586163;
$color-grey-slate-light: #9B9E9E;

$color-green: #49E28B;

$color-rosy: #FA5F5F;

$color-red: #692C2C;
$color-red-dark: #290B08;


/*
	Measurements
*/
$jump: 12px;
$gutter: percentage(25/1000);
$maxwidth: 600px;

@mixin fade-lis {
	
	> li {
		&:nth-child(2) {
			opacity: .8;
		}
		
		&:nth-child(3) {
			opacity: .7;
		}
		
		&:nth-child(4) {
			opacity: .6;
		}
		
		&:nth-child(5) {
			opacity: .5;
		}
	}
}

@mixin no-interpolation {
	image-rendering: -webkit-optimize-contrast; // Safari 6, UC Browser 9.9
	image-rendering: -webkit-crisp-edges; // Safari 7+
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

@mixin jump-children {
	> * + * {
		margin-top: $jump;
	}
}