.popup {
	@include hide-left();
	width: 100%; height: 100%; padding: 0;
	background: rgba($color-blue-dark, .8);
	overflow-x: hidden; overflow-y: auto;
	
	.popup-base {
		position: absolute; top: 50%; left: 50%; opacity: 0;
		transform: translate(-50%, -50%);
		width: percentage(97/100); max-width: $maxwidth; padding: 20px;
		background: darken(#072A47, 4%);
		border-radius: 10px; box-shadow: 0 0 6px rgba($color-blue-dark, .9);
		transition: opacity 1s ease;
	}
	
	.popup-body {
		/* don't style */
	}
	
	&.popup-open {
		animation-name: fadeInFromLeft; animation-duration: .6s; animation-iteration-count: 1; animation-timing-function: ease; animation-fill-mode: forwards;
		// transition: opacity .5s ease, left .2s ease;
		
		.popup-base {
			opacity: 1;
		}
	}
	
	.popup-close-x {
		position: absolute; top: 0; right: 0;
		padding: 20px;
		font-size: 24px; color: $color-rosy;
		cursor: pointer;
	}
}

.popup-delete-activity, .popup-budget-remaining, .popup-delete-record {
	text-align: center;
	
	.type {
		margin-bottom: $jump*.175;
		font-size: 24px;
	}
	
	.since, .when {
		margin-bottom: $jump;
		font-size: 14px;
	}
	
	.amount {
		margin-bottom: $jump*2;
		font-size: 21px;
	}
}

.popup-budget-remaining {
	
	.popup-base {
		@include jump-children();
	}
	
	.amount {
		margin-bottom: 0;
	}
	
}

.popup-spent-this-month {
	text-align: center;
	
	.popup-base {
		@include jump-children();
	}
	
	.type {
		margin-bottom: $jump*.175;
		font-size: 24px;
	}
	
	.amount {
		font-size: 21px;
	}
	
}