.rewards {
	
	.title {
		margin-bottom: 5px;
		font-size: 13px;
	}
	
	.description {
		color: $color-grey; font-size: 9px; line-height: 1.9; letter-spacing: -.02em;
		
		.credit {
			padding-top: 2px;
			font-size: 11px;
			background-size: 9px auto;
		}
	}
}

.rewards-define {
	
	li {
		margin-top: 26px;
	}
	
}

.rewards-latest {
	@include fade-lis();
	
	li {
	
		.title {
			font-size: 11px;
		}
	
		.description {
			font-size: 9px; color: $color-grey-slate;			
		}
	}
}