$selectsize: 48px;

.select2-container {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	
	.select2-selection--single {
		display: block; height: $selectsize;
		text-shadow: 0 2px 0 rgba(0,0,0,.19);
		cursor: pointer;
		user-select: none; -webkit-user-select: none;
		
		.select2-selection__rendered {
			display: block; width: 100%; height: $selectsize; padding: 0 20px;
			background: #072A47;
			font-size: 12px; line-height: $selectsize; font-family: $font-pressstart2p; text-overflow: ellipsis; white-space: nowrap; 
			border-radius: 4px; box-shadow: 0px 2px 0px 0px rgba(0,0,0,.19);
			overflow: hidden;
		}
		
		.select2-selection__arrow {
			position: absolute; top: 0; right: 0;
			width: $selectsize; height: $selectsize;
			transform: rotate(90deg);
			
			&:before {
				display: block;
				width: $selectsize; height: $selectsize;
				text-align: center; line-height: $selectsize;
				content: ">";
			}
		}
	}
	
	&.error {
		.select2-selection__rendered {
			background: $color-red-dark; border: 2px solid $color-red;
		}
	}
	
	&.select2-container--open {
		
		.select2-selection--single {
			/* opacity: .5; */
			
			.select2-selection__arrow {
				transform: rotate(-90deg);
			}
		}
		
		&.select2-container--above {
			.select2-selection__rendered {
				border-radius: 0 0 4px 4px;
			}
		}
		
		&.select2-container--below {
			.select2-selection__rendered {
				border-radius: 4px 4px 0 0;
			}
		}
	}
}



.select2-close-mask {
	position: fixed; top: 0; left: 0; z-index: 99;
	display: block; width: auto; height: auto; min-width: 100%; min-height: 100%; margin: 0; padding: 0;
	background: #fff; border: 0;
	opacity: 0;
}

.select2-hidden-accessible {
	position: absolute !important;
	width: 1px !important; height: 1px !important; margin: -1px !important; padding: 0 !important;
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}

.select2-results {
	max-height: 270px;
	background: $color-blue-dark;
	font-size: 12px; line-height: $selectsize; font-family: $font-pressstart2p;
	overflow-y: auto;
	box-shadow: 0px 2px 0px 0px rgba(24,45,72,0.19), inset 2px 2px 0px 0px black;
}

.select2-dropdown {
	position: absolute; left: -100000px; z-index: 2000;
	display: block; width: 100%;
	border-radius: 4px;  
}

.select2-search--dropdown {
	display: block;

	.select2-search__field {
		width: 100%; padding: 20px 12px;    
		color: $color-blue-dark;
		background: white; border: 2px solid #3D749E;
		box-shadow: none;
		
		&:hover, &:focus {
			color: $color-blue-dark;
		}
		
    	&::-webkit-search-cancel-button {
			-webkit-appearance: none;
    	}
	}

	&.select2-search--hide {
		display: none;
	}
}


.select2-results {
	display: block;
}

.select2-results__options {
	margin: 0; padding: 0; list-style: none;
}

.select2-results__option {
	padding: 16px 20px; line-height: 1;
	font-size: 12px;
	user-select: none; -webkit-user-select: none;
	
	&:nth-child(even) {
		background: #02081C;
	}

	&[aria-selected] {
		cursor: pointer;
	}
}

.select2-container--open {
	
	.select2-dropdown {
		left: 0;
		box-shadow: 0 -5px 50px rgba(0,0,0,.4);
	}
	
	.select2-dropdown--above {
	}
	
	.select2-dropdown--below {
	}
	
}