.page-title {
	margin-bottom: $jump*2;
	font-size: 17px; color: $color-pearl;
}

.content {
	@include container();
	@include jump-children();
	color: $color-grey-slate-light; 
	
	h1, h2, h3, h4 {
		color: $color-beige;
	}
	
	h1 {
		font-size: 17px;
	}
	
	h2 {
		font-size: 15px;
	}
	
	h3 {
		font-size: 13px;
	}
	
	p, li {
		letter-spacing: -.102em; line-height: 1.8;
		
		b, strong {
			color: $color-pearl;
		}
	}
	
	ul {
		li {
			list-style-type: disc; list-style-position: inside;
		}
	}
}